.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

body{
  background-color: rgba(241,241,241,1);
}
.player-h2
{
  font-size:1.67em;
}

.player-h3
{
  font-size:1.25em;
}

.player-playlistitem-blink
{
  background-color: #ffff00;
}

