.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

body{
  background-color: rgba(241,241,241,1);
}
h2
{
  font-size:1.67em;
}

.player-h2{
  font-size:1.2em;
  margin-top: 0;
}

h3
{
  font-size:1.25em;
}

.synote-header{
  text-align: center;
}
.synote-header img{
  display: block;
  margin: 0 auto 20px;
}

.synote-header .name{
  font-size:2.75em;
  display:block;
  font-weight:700;
  margin: 0 auto 20px;
}

.synote-media-left {
  padding-left:0px !important;
}
.player-playlistitem-blink
{
  background-color: #ffff00;
}

.videogular-container {
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.videogular-container.audio{
  height:50px;
}


.videogular{
  height:inherit;
}

videogular .vg-controls {
  z-index:99999;
}

.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

/*side bar*/
.mini-submenu{
  display:none;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0.9);
  border-radius: 4px;
  padding: 9px;
  /*position: relative;*/
  width: 42px;

}

.mini-submenu:hover{
  cursor: pointer;
}

.mini-submenu .icon-bar {
  border-radius: 1px;
  display: block;
  height: 2px;
  width: 22px;
  margin-top: 3px;
}

.mini-submenu .icon-bar {
  background-color: #000;
}

#slide-submenu{
  background: rgba(0, 0, 0, 0.45);
  display: inline-block;
  padding: 0 8px;
  border-radius: 4px;
  cursor: pointer;
}

.multimedia-title{
  font-size: 1.2em;
}

.pagination li>a, .pagination li>span {
  background-color: #D6DBDF !important;
}

.pagination li.active > a,
.pagination li.active > span {
  background-color: #1abc9c !important;
  border-color: #dfe2e5 !important;
}

.label-tag{
  margin-left:4px;
}

.playlist-row{
  margin-botto:20px;
}

/* playlist style on watch page*/
.watch-playlist {
  color: #798795;
  margin-bottom: 20px;
  border-radius: 6px;
}
.watch-playlist ul {
  background-color: #2c3e50;
  margin: 0;
  padding: 0;
  list-style-type: none;
  border-radius: 0 0 6px 6px;
}
.watch-playlist li {
  background: #34495e;
  background-size: 20px 20px;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.214;
  margin-top: 2px;
  padding: 18px 42px 21px 25px;
  position: relative;
  -webkit-transition: .25s;
  transition: .25s;
}
.watch-playlist li:first-child {
  margin-top: 0;
}
.watch-playlist li:last-child {
  border-radius: 0 0 6px 6px;
  padding-bottom: 21px;
}
.watch-playlist li.watch-playlist-playing {
  background: transparent;
  color: #1abc9c;
}

.watch-playlist-title{
  position: relative;
  background: #1abc9c;
  background-size: 16px 16px;
  border-radius: 6px 6px 0 0;
  color: #34495e;
  padding: 19px 25px 20px;
}

.watch-playlist-title a{
  color: #34495e;
}

.watch-playlist-title a:hover {
  color: #34495e;
  text-decoration: underline;
}


.watch-playlist-thumbnail {
  float: left;
  font-size: 24px;
  padding: 11px 22px 0 0;
}
.watch-playlist-content {
  padding-top: 1px;
  overflow: hidden;
}
.watch-playlist-description, .watch-playlist-title-description {
  color: #ffffff;
  font-size: 17px;
  margin: 1px 0 3px;
}

#info_div{
  margin-top:20px;
}

#playlist_div {
  overflow-y:scroll;
}

#synmarks_div{
  margin-top: 10px;
}

#synmarks_title_div{
  font-size:1.4em;
  margin-bottom:5px;
}

#synmarks_control_div{
  text-align:right;
}

.synmark-row {
  cursor: pointer;
}

.synmark-row hr {
  margin-top: 0px;
  margin-bottom: 0px;
}

.synmark-row .controls{
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  white-space: nowrap;
  display:none;
}

.synmark-row:hover .controls{
  display:block !important;
}

.synmark-row-hide {
  display:none;
}

.synmark-row:hover, .synmark-row-highlighted{
  background-color: #f1c40f;
  display: block !important;
}

.synmark-form-group{
  margin-top:5px;
  margin-bottom:5px;
}

.synmark-owner{
  color:rgba(253, 96, 73, 1);
  text-decoration: underline;
}

.synmark-time, .cue-time {
  color:rgba(253, 96, 73, 1);
}

#transcripts_control_div{
  margin-top: 5px;
}

.transcript-row{
  cursor: pointer;
}

.transcript-row hr {
  margin-top: 0px;
  margin-bottom: 0px;
}

.transcript-row .controls{
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  white-space: nowrap;
  display:none;
}

.transcript-row .controls button{
  z-index:3;
}

.transcript-row:hover .controls{
  display:block !important;
}
.subtitle-row{
  background-color: black;
  min-height:60px;
  color:yellow;
}
.subtitle-row .controls{
  position: absolute;
  top: 0;
  right:0;
  overflow: hidden;
  white-space: nowrap;
  display:none;
}

.subtitle-row:hover .controls{
  display:block !important;
}

.transcript-row:hover, .transcript-row-highlighted{
  background-color: #f1c40f;
}

videogular .cuepoints {
  position: relative;
  top: -50px;

  display: block;
  width: 100%;
  height: 0px;
}

videogular .cuepoints .cuepoint {
  position: absolute;

  display: block;
  width: 2px;
  height: 50px;

  background-color: red;
}

