<div>
  <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
</div>
<div class="row page-content">
  <div class="row control-group">
    <div class="col-md-3">
      <label for="email">Email </label>
    </div>
    <div class="col-md-3">
      <input type="text" name="email" ng-model="email" />
    </div>
  </div>
  <div class="row control-group">
    <div class="col-md-3">
      <label for="password">Password</label>
    </div>
    <div class="col-md-3">
      <input type="password" name="password" ng-model="password" />
    </div>
  </div>
  <div class="row control-group">
    <div class="col-md-3">
      <button class="btn btn-default" ng-click="login()">Login</button>
    </div>
    <div class="col-md-3">
      <button ng-click="cancel()" class="btn btn-link">Cancel</button>
    </div>
  </div>
</div>
