<div mc-messages></div>
<div class="row">
  <div ng-include="'views/templates/sidebar.html'"></div>
  <div class="col-xs-12 col-sm-8 col-md-8">
    <form name="createForm" role="form" ng-submit="processForm()" novalidate>
      <h2>Create Playlist</h2>
      <div class="form-group" ng-class="{'has-error':createForm.title.$invalid}">
        <label class="control-label" for="title">Title*</label>
        <div>
          <input id="title" ng-trim="true" ng-model="formdata.title" name="title" type="text" placeholder="{{'PLAYLIST_TITLE_PH_TEXT' | translate}}" class="form-control input-md" ng-required="true"/>
        </div>
      </div>

      <!-- Textarea -->
      <div class="form-group">
        <label class="control-label" for="description">Description*</label>
        <div>
          <textarea class="form-control" ng-class="{'has-error':createForm.description.$invalid}" ng-trim="true" placeholder="{{'PLAYLIST_DESCRIPTION_PH_TEXT' | translate}}" rows="6" ng-model="formdata.description" id="description" name="description" ng-required="true"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <input type="submit" value="{{'BTN_CREATE_TEXT' | translate}}" ng-disabled="!createForm.$valid" class="btn btn-primary btn-block btn-lg" translate="CREATE_SUBMIT_BTN">
        </div>
        <div class="col-xs-12 col-md-6"><input type="{{'BTN_RESET_TEXT' | translate}}" value="Reset" class="btn btn-danger btn-block btn-lg" translate="REG_RESET_BTN"></div>
      </div>
    </form>
  </div>
</div>
