<div mc-messages></div>
<div class="row">
  <div ng-include="'views/templates/sidebar.html'"></div>
  <div class="col-md-8 col-sm-9">
    <div class="well panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12 col-sm-4 text-center">
            <img src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=144" alt="" class="center-block img-circle img-thumbnail img-responsive">
          </div>
          <!--/col-->
          <div class="col-xs-12 col-sm-8">
            <h2>{{userInfo.firstname}}&nbsp;{{userInfo.lastname}}</h2>
            <p>@{{userInfo.username}}</p>
            <p><strong>Email: </strong> {{userInfo.email}} </p>
          </div>
          <!--/col-->
        </div>
        <!--/row-->
      </div>
      <!--/panel-body-->
    </div>
    <!--/panel-->
  </div>
  <!--/col-->
</div>
  <!--/row-->
<!--/container-->
