<toaster-container></toaster-container>
<div mc-messages></div>
<div class="row" cg-busy="loadPromise">
  <div class="col-md-7 col-sm-8" id="left_div" >
    <div class="videogular-container" id="video_div" ng-if="videoError == false">
      <videogular class="vg-controls" vg-player-ready="onPlayerReady" vg-complete="onCompleteVideo" vg-theme="config.theme" vg-autoplay="config.autoPlay">
        <vg-video vg-src="config.sources" vg-youtube="rel=1;showinfo=1"></vg-video>
        <vg-controls class="vg-controls" vg-autohide="config.autoHide" vg-autohide-time="config.autoHideTime">
          <vg-play-pause-button></vg-play-pause-button>
          <vg-timedisplay>{{ API.currentTime | date:'mm:ss' }}</vg-timedisplay>
          <vg-scrubBar>
            <vg-scrubbarcurrenttime></vg-scrubbarcurrenttime>
            <div class='cuepoints'>
              <div ng-repeat='cuepoint in cuepoints.points' style='{{calcCuepointVizLeft(cuepoint)}}' class="cuepoint"></div>
            </div>
          </vg-scrubBar>
          <vg-timedisplay>{{ API.timeLeft | date:'mm:ss' }}</vg-timedisplay>
          <vg-volume>
            <vg-mutebutton></vg-mutebutton>
            <vg-volumebar></vg-volumebar>
          </vg-volume>
          <vg-fullscreenButton></vg-fullscreenButton>
        </vg-controls>
        <vg-buffering></vg-buffering>
      </videogular>
    </div>
    <!-- display the current cue -->
    <div id="subtitle_div" ng-if="transcripts && transcripts.length > 0">
      <div class="subtitle-row">
        <div class="col-md-12 col-sm-12">
          {{currentCue.content}}
        </div>
      </div>
    </div>
    <!-- /display the current cue-->
    <h2 class="player-h2">{{multimedia.title}}</h2>
    <p>
      <i class="fa fa-user"></i> by {{multimedia.owner.username}}
      | <i class="fa fa-calendar"></i>&nbsp;Published <span am-time-ago="multimedia.createdAt"></span>
      | <i class="fa fa-tags"></i> Tags :
        <span class="label label-info label-tag" ng-repeat="tag in multimedia.tags" ng-if="multimedia.tags.length>0">
          {{tag.text}}
        </span>
        <span  ng-if="multimedia.tags.length === 0">
          {{'NO_TAGS_TEXT' | translate}}
        </span>
    </p>
    <div class="well">
      <tabset>
        <tab heading="About" id="about_tab">
          {{multimedia.description}}
        </tab>
        <tab heading="Add to" id="playlist_tab" ng-if="playlists">
          <br/>
          <div class="row" cg-busy="addToPlaylistPromise">
            <div class="col-md-6 col-sm-6">
              <span>
                <b>{{'PLAYLIST_TITLE_TEXT' | translate}}</b>
              </span>
              <ul class="list-group">
                <li ng-if="playlists.length > 0" ng-repeat="playlist in playlists" class="list-group-item">
                  <i class="fa fa-list"></i><a href ng-click="displayPlaylist(playlist.id)">&nbsp;{{playlist.title | limitTo:15}}</a>
                  <div class="pull-right"><button ng-click="addToPlaylist(playlist)" class="btn btn-xs btn-primary">Add</button></div>
                </li>
                <li ng-if="playlists.length === 0" class="list-group-item">
                  {{'NO_PLAYLIST_TEXT' | translate}}
                </li>
              </ul>
            </div>
            <div class="col-md-6 col-sm-6">
              <span>
                <b>{{'IN_PLAYLIST_TEXT' | translate}}</b>
              </span>
              <ul class="list-group">
                <li ng-if="!isEmptyObject(multimediaInPlaylists)" ng-repeat="(id, playlist) in multimediaInPlaylists" class="list-group-item">
                  <i class="fa fa-list"></i><a href ng-click="displayPlaylist(id)">&nbsp;{{playlist.title | limitTo:15}}</a>
                  <span class="badge">{{playlist.count}}</span>
                </li>
                <li href ng-if="isEmptyObject(multimediaInPlaylists)" class="list-group-item">
                  {{'NOTINANY_PLAYLIST_TEXT' | translate}}
                </li>
              </ul>
            </div>
          </div>
        </tab>
        <tab heading="Transcript" id="transcript_tab">
          <div class="row">
            <div id="transcripts_control_div" class="col-md-2 col-sm-3 col-md-offset-10 col-sm-offset-9 pull-right">
              <div class="btn-group" dropdown ng-if="transcripts && transcripts.length>0">
                <button type="button" class="btn btn-sm btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                  {{selectedTranscript.lang}}<span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li ng-repeat="transcript in transcripts">
                    <a href ng-click="">{{transcript.lang}}</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div ng-repeat="cue in selectedTranscript.cues | orderBy:'st':false">
            <div class="row transcript-row" ng-click="playCue(cue)" ng-class="{'transcript-row-highlighted':shouldCueHighlighted(cue)}">
              <div class="col-md-12 col-xs-12">
                <div class="btn-group controls" role="group">
                  <button title="bookmark" ng-click="bookmarkCue(cue, $event)" type="button" class="btn btn-inverse btn-sm" ng-if="canCreateSynmark()"><i class="fa fa-bookmark"></i></button>
                </div>
                <div class="col-md-12 col-sm-12 synmark-time">
                  <span>{{secondsToHHMMSS(cue.st/1000)}}</span>
                  <span> to </span>
                  <span>{{secondsToHHMMSS(cue.et/1000)}}</span>
                </div>
                <div class="col-md-12 col-sm-12">
                  {{cue.content}}
                </div>
              </div>
            </div>
          </div>
          <div ng-if="!transcripts || transcripts.length === 0">
            {{'NO_TRANSCRIPT_TEXT' | translate}}
          </div>
        </tab>
      </tabset>
    </div>
  </div>
  <div class="col-md-5 col-sm-4" id="right_div">
    <div id="playlist_div" ng-if="playlist" cg-busy="loadPlaylistPromise" synote-resize="#video_div">
      <div class="watch-playlist" style="display:inline">
        <div class="watch-playlist-title">
          <span><b><a href ng-click="displayPlaylist(playlist.id)">{{playlist.title | limitTo:48}}</a></b></span>
          <div class="pull-right">
            <input bs-switch ng-model="hidePlaylist" type="checkbox" switch-on-text="Hide" switch-off-text="Show">
          </div>
        </div>
        <ul ng-show="!hidePlaylist">
          <li ng-class="{'watch-playlist-playing': isPlaylistItemPlaying(item.id)}" ng-repeat="item in playlist.items | orderBy:'ind':false" ng-click="watchPlaylistItem(item.multimedia.id, item.id)">
            <div class="media" ng-if="item.multimedia">
              <a class="media-left" href>
                <img width="64" class="img-rounded img-playlist hidden-sm" ng-src="{{item.multimedia.thumbnail}}"/>
              </a>
              <div class="media-body">
                <b>{{item.ind}}. {{item.multimedia.title | limitTo:48}}</b><br/>
                {{item.multimedia.description | limitTo:144}}
              </div>
            </div>
            <div class="media" ng-if="!item.multimedia">
              <a class="media-left" href>
                <img width="64" class="img-rounded img-playlist hidden-sm" ng-src="{{item.multimedia.thumbnail}}"/>
              </a>
              <div class="media-body">
                This resource has been removed
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div id="synmarks_div" class="well">
      <div class="row">
        <div id="synmarks_title_div" class="col-md-4 col-sm-3">Synmarks</div>
        <div id="synmarks_control_div" class="col-md-8 col-sm-9 pull-right">
          <button class="btn btn-warning btn-sm" ng-click="showSynmarkForm()" ng-if="canCreateSynmark()"><i class="fa fa-bookmark"></i></button>
          <div class="btn-group">
            <label class="btn btn-info btn-sm" ng-model="synmarkDisplay.marked" ng-change="toggleMarked()" btn-checkbox ng-class="{disabled: !playlist}">Marked</label>
            <label class="btn btn-info btn-sm" ng-model="synmarkDisplay.mine" ng-change="toggleMine()" btn-checkbox>Mine</label>
            <label class="btn btn-info btn-sm" ng-model="synmarkDisplay.chained" ng-change="toggleChained()" btn-checkbox>Chained</label>
          </div>
        </div>
      </div>
      <div id="synmark_edit_div" class="row" ng-show="showEditingSynmarkForm" cg-busy="synmarkPromise">
        <form name="synmarkForm">
          <input type="hidden" ng-model="currentEditingSynmark.id" name="synmark_id"/>
          <div class="form-group col-md-12 col-sm-12 synmark-form-group">
            <input name="synmark_title" placeholder="Title" class="form-control" ng-model="currentEditingSynmark.title" ng-required="true"/>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="input-group">
              <input name="synmark_mfst" ng-model="synmarkMfst" placeholder="{{'START_TIME_PLACEHOLDER' | translate}}" type="text" class="form-control" ng-required="true" ng-pattern="/^[0-9][0-9]:[0-5][0-9]:[0-5][0-9]/"/>
              <span class="input-group-btn">
                <button class="btn btn-info" type="button" ng-click="setSynmarkMfst()"><i class="fa fa-clock-o"></i></button>
              </span>
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="input-group">
              <input name="synmark_mfet" ng-model="synmarkMfet" placeholder="{{'END_TIME_PLACEHOLDER' | translate }}" type="text" class="form-control" ng-required="true" ng-pattern="/^[0-9][0-9]:[0-5][0-9]:[0-5][0-9]/"/>
              <span class="input-group-btn">
                <button class="btn btn-info" type="button" ng-click="setSynmarkMfet()"><i class="fa fa-clock-o"></i></button>
              </span>
            </div>
          </div>
          <div class="form-group col-md-12 col-sm-12 synmark-form-group">
            <input style="width:100%" name="synmark_tags" placeholder="Tags" class="tagsinput form-control" data-role="tagsinput" ng-model="synmarkTagsStr"/>
          </div>
          <div class="form-group col-md-12 col-sm-12">
            <text-angular name="synmark_content" placeholder="Synmark Content..." rows="5"
                  ta-toolbar="[['bold','italics','underline','ul', 'ol'],['insertLink','insertImage']]" ng-model="synmarkContent"></text-angular>
          </div>
          <div class="col-md-6 col-sm-6">
            <button id="submit_btn" ng-disabled="!synmarkForm.$valid" ng-click="processSynmarkForm()" name="submit_btn" class="btn btn-lg btn-success btn-block">Submit</button>
          </div>
          <div class="col-md-6 col-sm-6">
            <button id="reset_btn" name="reset_btn" class="btn btn-lg btn-danger btn-block" ng-click="cancelSynmarkEditing()">Cancel</button>
          </div>
        </form>
      </div>
      <div ng-repeat="synmark in synmarks | orderBy:'mfst':false" ng-if="synmarks.length>0">
        <div class="row synmark-row" ng-if="synmark.display" ng-click="playSynmark(synmark)" ng-class="{'synmark-row-highlighted':shouldSynmarkHighlighted(synmark)}">
          <hr/>
          <div class="col-md-12 col-sm-12">
            <span>{{synmark.title}}</span>
            <span class="synmark-owner"> by {{synmark.owner.username}}</span>
            <div class="btn-group controls" role="group">
              <button title="mark" ng-click="addSynmarkToPlaylistItem(synmark, $event)" type="button" class="btn btn-inverse btn-sm" ng-if="playlist && canBeMarked(synmark)"><i class="fa fa-eye"></i></button>
              <button title="unmark" ng-click="removeSynmarkFromPlaylistItem(synmark, $event)" type="button" class="btn btn-inverse btn-sm" ng-if="playlist && !canBeMarked(synmark)"><i class="fa fa-eye-slash"></i></button>
              <button title="edit synamrk" ng-click="editSynmark(synmark, $event)" type="button" class="btn btn-inverse btn-sm" ng-if="canEditSynmark(synmark)"><i class="fa fa-edit"></i></button>
              <button title="delete synmark" ng-click="deleteSynmark(synmark, $event)" type="button" class="btn btn-inverse btn-sm" ng-if="canEditSynmark(synmark)"><i class="fa fa-remove"></i></button>
            </div>
          </div>
          <div class="col-md-12 col-sm-12 synmark-time">
            <span>{{secondsToHHMMSS(synmark.mfst)}}</span>
            <span> to </span>
            <span>{{secondsToHHMMSS(synmark.mfet)}}</span>
          </div>
          <div class="col-md-12 col-sm-12" ng-if="synmark.tags.length > 0">
            <span class="label label-info label-tag" ng-repeat="tag in synmark.tags" ng-if="synmark.tags.length>0">
              {{tag.text}}
            </span>
          </div>
          <div class="col-md-12 col-sm-12" ng-bind-html="synmark.content">
          </div>
        </div>
      </div>
      <div ng-if="synmarks.length === 0">
        {{'NO_SYNMARK_TEXT' | translate}}
      </div>
    </div>
  </div>
</div>


